In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
# Change the filename 
filename = 'processed_data.csv'
data = pd.read_csv(filename)

In [3]:
data

,X,flag,alon_week,alon_wend,child_bull,comp_house,comp_noint_bed_16,comp_int_bed_16,comp_week,comp_wend,...,talk_phon_wend,text_week,text_wend,tran_week,tran_wend,tv_week,tv_wend,weight_16,work_week,work_wend
0,1,synthetic,1-2 hours,1-2 hours,No,Yes,NaN,NaN,1-2 hours,1-2 hours,...,Any at all,Less than 1 hour,Less than 1 hour,Less than 1 hour,Less than 1 hour,1-2 hours,1-2 hours,59.294132,3 or more hours,3 or more hours
1,2,synthetic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,synthetic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,synthetic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.812426,NaN,NaN
4,5,synthetic,1-2 hours,3 or more hours,No,NaN,Yes,NaN,1-2 hours,Less than 1 hour,...,Not at all,Not at all,Not at all,Less than 1 hour,Less than 1 hour,1-2 hours,3 or more hours,62.270030,1-2 hours,1-2 hours
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13729,13730,synthetic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13730,13731,synthetic,1-2 hours,3 or more hours,No,NaN,NaN,NaN,1-2 hours,1-2 hours,...,Not at all,Less than 1 hour,Less than 1 hour,Less than 1 hour,Less than 1 hour,3 or more hours,3 or more hours,NaN,1-2 hours,1-2 hours
13731,13732,synthetic,1-2 hours,1-2 hours,No,NaN,NaN,NaN,1-2 hours,1-2 hours,...,Any at all,1-2 hours,1-2 hours,1 or more hours,1 or more hours,3 or more hours,3 or more hours,58.075832,Less than 1 hour,Less than 1 hour
13732,13733,synthetic,Less than 1 hour,1-2 hours,No,Yes,NaN,NaN,Less than 1 hour,1-2 hours,...,Any at all,1-2 hours,1-2 hours,Less than 1 hour,Less than 1 hour,Not at all,Less than 1 hour,NaN,Less than 1 hour,1-2 hours
13733,13734,synthetic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.732913,NaN,NaN

In [4]:
dict_all = {
    
}

In [5]:
directly_related = ['comp_week', 'comp_wend', 'text_week', 'text_wend', 'tv_week', 'tv_wend']

targets  = ['dep_score', 'dep_thoughts', 'has_dep_diag', 'prim_diag', 'secd_diag', 'panic_score']

In [6]:
# Directly related
for x in directly_related:
    features = data[[x]].copy()
    features.loc[features[x] == 'Not at all', x] = 0
    features.loc[features[x] == 'Less than 1 hour', x] = 1
    features.loc[features[x] == '1-2 hours', x] = 2
    features.loc[features[x] == '3 or more hours', x] = 3
    
    if x == 'comp_week':
        pd_all = features
    else:
        pd_all[x] = features

In [7]:
for x in targets:    
    pd_all[x] = data[[x]]

In [8]:
pd_all

,comp_week,comp_wend,text_week,text_wend,tv_week,tv_wend,dep_score,dep_thoughts,has_dep_diag,prim_diag,secd_diag,panic_score
0,2,2,1,1,2,2,0.0,NaN,No ICD-10 diagnosis of depression,0.0,0.0,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2,1,0,0,2,3,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
13729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13730,2,2,1,1,3,3,NaN,NaN,NaN,NaN,NaN,NaN
13731,2,2,2,2,3,3,NaN,NaN,NaN,NaN,NaN,NaN
13732,1,2,2,2,0,1,0.0,NaN,No ICD-10 diagnosis of depression,0.0,0.0,0.0
13733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
for x in targets:
    tem = directly_related.copy()
    filter_list = tem.append(x)
    
    dict_all[x] = pd_all.filter(tem, axis=1).dropna(axis=0)

In [11]:
dict_all['dep_score']['dep_score'] = dict_all['dep_score']['dep_score'].replace([2.0], 1.0)
dict_all['dep_score']['dep_score'] = dict_all['dep_score']['dep_score'].replace([3.0], 1.0)
dict_all['dep_score']['dep_score'] = dict_all['dep_score']['dep_score'].replace([4.0], 1.0)

In [12]:
dict_all['dep_thoughts']['dep_thoughts'] = dict_all['dep_thoughts']['dep_thoughts'].replace([2.0], 1.0)
dict_all['dep_thoughts']['dep_thoughts'] = dict_all['dep_thoughts']['dep_thoughts'].replace([3.0], 1.0)
dict_all['dep_thoughts']['dep_thoughts'] = dict_all['dep_thoughts']['dep_thoughts'].replace([4.0], 1.0)
dict_all['dep_thoughts']['dep_thoughts'] = dict_all['dep_thoughts']['dep_thoughts'].replace([5.0], 1.0)

In [13]:
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([2.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([3.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([4.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([5.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([6.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([7.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([8.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([9.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([10.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([11.0], 1.0)
dict_all['prim_diag']['prim_diag'] = dict_all['prim_diag']['prim_diag'].replace([12.0], 1.0)

In [14]:
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([2.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([3.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([4.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([5.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([6.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([7.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([8.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([9.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([10.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([11.0], 1.0)
dict_all['secd_diag']['secd_diag'] = dict_all['secd_diag']['secd_diag'].replace([12.0], 1.0)

In [15]:
dict_all['panic_score']['panic_score'] = dict_all['panic_score']['panic_score'].replace([2.0], 1.0)
dict_all['panic_score']['panic_score'] = dict_all['panic_score']['panic_score'].replace([3.0], 1.0)
dict_all['panic_score']['panic_score'] = dict_all['panic_score']['panic_score'].replace([4.0], 1.0)

In [16]:
# Convert has_dep_diag to 0 or 1
dict_all['has_dep_diag'] = dict_all['has_dep_diag'].replace([' No ICD-10 diagnosis of depression'], 0)
dict_all['has_dep_diag'] = dict_all['has_dep_diag'].replace(['Yes ICD-10 diagnosis of depression'], 1)

In [17]:
dict_all['all'] = dict_all['dep_score'].copy()

In [18]:
dict_all['all']

      comp_week comp_wend text_week text_wend tv_week tv_wend  dep_score
0             2         2         1         1       2       2        0.0
5             2         1         1         1       2       3        0.0
8             3         3         3         1       2       2        0.0
18            1         2         1         1       1       2        0.0
24            2         3         0         0       2       2        0.0
...         ...       ...       ...       ...     ...     ...        ...
13716         3         3         2         2       2       3        0.0
13720         2         3         1         1       1       2        0.0
13722         0         0         0         0       2       0        0.0
13725         2         3         1         1       1       2        1.0
13732         1         2         2         2       0       1        0.0

[3043 rows x 7 columns]

In [19]:
combined_y = dict_all['all']

In [20]:
combined_y

      comp_week comp_wend text_week text_wend tv_week tv_wend  dep_score
0             2         2         1         1       2       2        0.0
5             2         1         1         1       2       3        0.0
8             3         3         3         1       2       2        0.0
18            1         2         1         1       1       2        0.0
24            2         3         0         0       2       2        0.0
...         ...       ...       ...       ...     ...     ...        ...
13716         3         3         2         2       2       3        0.0
13720         2         3         1         1       1       2        0.0
13722         0         0         0         0       2       0        0.0
13725         2         3         1         1       1       2        1.0
13732         1         2         2         2       0       1        0.0

[3043 rows x 7 columns]

In [21]:
for x in targets:
    if x == 'dep_score':
        pass
    else:
        combined_y[x] = dict_all[x][[x]]

In [38]:
combined_y['panic_score'].value_counts()

0.0    1199
1.0      55
Name: panic_score, dtype: int64

In [23]:
combined_y = combined_y.filter(combined_y, axis=1).dropna(axis=0)

In [24]:
combined_y

,comp_week,comp_wend,text_week,text_wend,tv_week,tv_wend,dep_score,dep_thoughts,has_dep_diag,prim_diag,secd_diag,panic_score
18,1,2,1,1,1,2,0.0,1.0,0,0.0,0.0,0.0
33,2,2,3,3,1,2,1.0,1.0,0,1.0,0.0,0.0
66,1,0,1,2,1,1,1.0,1.0,1,1.0,1.0,0.0
67,2,3,3,3,2,3,1.0,1.0,0,1.0,1.0,0.0
76,2,3,1,1,2,1,1.0,1.0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
13685,2,2,2,2,2,1,0.0,1.0,0,0.0,0.0,0.0
13694,3,3,1,1,1,2,0.0,1.0,0,0.0,0.0,0.0
13701,3,0,2,2,2,2,0.0,0.0,0,1.0,0.0,0.0
13720,2,3,1,1,1,2,0.0,1.0,0,0.0,0.0,0.0
13725,2,3,1,1,1,2,1.0,1.0,1,1.0,1.0,0.0

In [25]:
combined_y['total'] = combined_y['dep_score'] + combined_y['dep_thoughts'] + combined_y['has_dep_diag'] + combined_y['prim_diag'] + combined_y['secd_diag'] + combined_y['panic_score']

In [26]:
combined_y

,comp_week,comp_wend,text_week,text_wend,tv_week,tv_wend,dep_score,dep_thoughts,has_dep_diag,prim_diag,secd_diag,panic_score,total
18,1,2,1,1,1,2,0.0,1.0,0,0.0,0.0,0.0,1.0
33,2,2,3,3,1,2,1.0,1.0,0,1.0,0.0,0.0,3.0
66,1,0,1,2,1,1,1.0,1.0,1,1.0,1.0,0.0,5.0
67,2,3,3,3,2,3,1.0,1.0,0,1.0,1.0,0.0,4.0
76,2,3,1,1,2,1,1.0,1.0,0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13685,2,2,2,2,2,1,0.0,1.0,0,0.0,0.0,0.0,1.0
13694,3,3,1,1,1,2,0.0,1.0,0,0.0,0.0,0.0,1.0
13701,3,0,2,2,2,2,0.0,0.0,0,1.0,0.0,0.0,1.0
13720,2,3,1,1,1,2,0.0,1.0,0,0.0,0.0,0.0,1.0
13725,2,3,1,1,1,2,1.0,1.0,1,1.0,1.0,0.0,5.0

In [27]:
combined_y['total'].value_counts()

1.0    523
2.0    287
5.0    189
3.0    149
4.0     68
6.0     38
Name: total, dtype: int64

In [28]:
combined_y.to_csv('sum_targets_with_panic.csv', index=False)

In [29]:
combined_y_tem_copied_al = combined_y.copy()
combined_y_1 = combined_y.loc[combined_y['total'] == 1]
combined_y_2 = combined_y.loc[combined_y['total'] == 2]
combined_y_3 = combined_y.loc[combined_y['total'] == 3]
combined_y_4 = combined_y.loc[combined_y['total'] == 4]
combined_y_5 = combined_y.loc[combined_y['total'] == 5]
combined_y_6 = combined_y.loc[combined_y['total'] == 6]

In [30]:
num = 38
combined_y_1 = combined_y_1.sample(n=num)
combined_y_2 = combined_y_2.sample(n=num)
combined_y_3 = combined_y_3.sample(n=num)
combined_y_4 = combined_y_4.sample(n=num)
combined_y_5 = combined_y_5.sample(n=num)

In [31]:
combined_y_1

,comp_week,comp_wend,text_week,text_wend,tv_week,tv_wend,dep_score,dep_thoughts,has_dep_diag,prim_diag,secd_diag,panic_score,total
8205,3,3,1,1,1,1,0.0,1.0,0,0.0,0.0,0.0,1.0
6819,1,2,3,3,2,2,1.0,0.0,0,0.0,0.0,0.0,1.0
4532,2,1,1,1,2,2,0.0,1.0,0,0.0,0.0,0.0,1.0
4034,2,3,1,1,3,3,0.0,1.0,0,0.0,0.0,0.0,1.0
2049,2,2,1,1,1,1,0.0,1.0,0,0.0,0.0,0.0,1.0
9112,2,3,2,2,1,3,0.0,1.0,0,0.0,0.0,0.0,1.0
9597,2,3,1,1,3,3,0.0,1.0,0,0.0,0.0,0.0,1.0
8077,2,2,1,1,1,1,0.0,1.0,0,0.0,0.0,0.0,1.0
119,2,1,3,3,2,1,0.0,1.0,0,0.0,0.0,0.0,1.0
7903,3,3,2,2,3,3,0.0,1.0,0,0.0,0.0,0.0,1.0
10206,3,3,2,2,1,2,0.0,1.0,0,0.0,0.0,0.0,1.0
6402,0,0,1,1,1,2,0.0,1.0,0,0.0,0.0,0.0,1.0
1568,1,1,2,2,1,2,1.0,0.0,0,0.0,0.0,0.0,1.0
565,2,2,1,2,2,2,1.0,0.0,0,0.0,0.0,0.0,1.0
8936,1,2,1,1,2,2,0.0,1.0,0,0.0,0.0,0.0,1.0
11246,3,3,1,1,2,2,0.0,1.0,0,0.0,0.0,0.0,1.0
9480,2,2,1,1,2,3,0.0,1.0,0,0.0,0.0,0.0,1.0
9021,2,2,1,1,2,3,0.0,1.0,0,0.0,0.0,0.0,1.0
13328,2,2,3,2,2,2,0.0,1.0,0,0.0,0.0,0.0,1.0
12440,3,3,1,1,3,3,0.0,1.0,0,0.0,0.0,0.0,1.0
11331,1,0,1,1,1,2,0.0,1.0,0,0.0,0.0,0.0,1.0
4620,2,2,3,3,1,2,0.0,1.0,0,0.0,0.0,0.0,1.0
8860,1,1,2,3,1,1,0.0,1.0,0,0.0,0.0,0.0,1.0
1855,3,2,2,2,2,2,0.0,1.0,0,0.0,0.0,0.0,1.0
4697,2,1,0,0,2,1,0.0,1.0,0,0.0,0.0,0.0,1.0
1617,3,1,3,3,1,1,0.0,1.0,0,0.0,0.0,0.0,1.0
1337,2,2,1,1,2,2,0.0,1.0,0,0.0,0.0,0.0,1.0
9263,2,3,1,1,2,3,0.0,1.0,0,0.0,0.0,0.0,1.0
4527,2,3,3,3,3,3,0.0,1.0,0,0.0,0.0,0.0,1.0
10218,2,2,1,2,2,2,0.0,1.0,0,0.0,0.0,0.0,1.0
12551,1,0,2,2,2,2,0.0,1.0,0,0.0,0.0,0.0,1.0
4120,2,3,3,2,2,2,0.0,1.0,0,0.0,0.0,0.0,1.0
5910,2,2,2,3,2,2,0.0,1.0,0,0.0,0.0,0.0,1.0
13701,3,0,2,2,2,2,0.0,0.0,0,1.0,0.0,0.0,1.0
5772,1,1,1,1,2,3,1.0,0.0,0,0.0,0.0,0.0,1.0
6068,2,2,1,2,1,3,0.0,1.0,0,0.0,0.0,0.0,1.0
6552,2,2,1,2,1,2,0.0,1.0,0,0.0,0.0,0.0,1.0
9464,2,1,2,2,1,1,1.0,0.0,0,0.0,0.0,0.0,1.0

In [32]:
sampled_combined_y = combined_y_6.append(combined_y_1)
sampled_combined_y = sampled_combined_y.append(combined_y_2)
sampled_combined_y = sampled_combined_y.append(combined_y_3)
sampled_combined_y = sampled_combined_y.append(combined_y_3)
sampled_combined_y = sampled_combined_y.append(combined_y_5)

In [33]:
sampled_combined_y = sampled_combined_y.sample(frac=1)

In [34]:
sampled_combined_y

,comp_week,comp_wend,text_week,text_wend,tv_week,tv_wend,dep_score,dep_thoughts,has_dep_diag,prim_diag,secd_diag,panic_score,total
4620,2,2,3,3,1,2,0.0,1.0,0,0.0,0.0,0.0,1.0
9203,2,2,2,2,2,3,1.0,1.0,1,1.0,1.0,0.0,5.0
2526,2,1,3,3,2,3,1.0,1.0,1,1.0,0.0,0.0,4.0
644,2,2,1,1,3,2,1.0,1.0,0,1.0,1.0,0.0,4.0
4655,3,3,1,1,2,3,1.0,1.0,0,1.0,1.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8922,1,2,1,1,2,3,1.0,1.0,0,1.0,1.0,0.0,4.0
3973,3,3,3,3,3,2,1.0,1.0,0,0.0,0.0,0.0,2.0
2493,2,3,1,1,2,2,1.0,1.0,0,1.0,0.0,0.0,3.0
13516,3,3,2,3,1,2,1.0,1.0,0,1.0,0.0,0.0,3.0
12305,2,2,1,1,3,3,1.0,1.0,0,0.0,0.0,0.0,2.0

In [35]:
sampled_combined_y.to_csv('sampled_sum_targets_with_panic.csv', index=False)