In [1]:
from sklearn import datasets

# How are we going to use evaluate the performance? 
# 1. accuracy
from sklearn import metrics
# 2. f1 score 
from sklearn.metrics import f1_score

# Machine learning models 

# Linear Regression 
# url : https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html
from sklearn.linear_model import LinearRegression

# SVM
# url: https://scikit-learn.org/stable/modules/generated/sklearn.svm.SVC.html
from sklearn import svm

# KNN 
# url: https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html
from sklearn.neighbors import KNeighborsClassifier

# Decision Tree
# url: https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html
from sklearn.tree import DecisionTreeClassifier

# Random Forest 
# url: https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html
from sklearn.ensemble import RandomForestClassifier

# Logistic Classifier
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.model_selection import GridSearchCV

from sklearn.model_selection import learning_curve, RandomizedSearchCV, GridSearchCV
from sklearn.model_selection import train_test_split, KFold
from sklearn.datasets import make_classification
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

import numpy as np
import matplotlib.pyplot as plt

# PCA 
from sklearn.decomposition import PCA 

# Linear Regression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

import seaborn as sns

from sklearn.model_selection import learning_curve

from sklearn.metrics import classification_report

In [2]:
url = './sum_targets_with_panic.csv'
data = pd.read_csv(url)

In [3]:
data['total'].value_counts()

1.0    523
2.0    287
5.0    189
3.0    149
4.0     68
6.0     38
Name: total, dtype: int64

In [4]:
tem = data.copy()

In [5]:
total_2 = tem.loc[tem['total'] == 2]
total_3 = tem.loc[tem['total'] == 3]
total_4 = tem.loc[tem['total'] == 4]
total_5= tem.loc[tem['total'] == 5]
total_6 = tem.loc[tem['total'] == 6]

In [6]:
for i in range(0, 523-287):
    tem_for_sample = total_2.copy()
    sampled = tem_for_sample.sample(n=1)
    if i == 0:
        final_total_2 = tem_for_sample.append(sampled)
    else:
        final_total_2 = final_total_2.append(sampled)

In [8]:
final_total_2

,comp_week,comp_wend,text_week,text_wend,tv_week,tv_wend,dep_score,dep_thoughts,has_dep_diag,prim_diag,secd_diag,panic_score,total
4,2,3,1,1,2,1,1.0,1.0,0,0.0,0.0,0.0,2.0
5,3,3,2,2,2,1,1.0,1.0,0,0.0,0.0,0.0,2.0
6,2,1,2,2,1,0,1.0,1.0,0,0.0,0.0,0.0,2.0
12,1,1,2,2,2,2,1.0,1.0,0,0.0,0.0,0.0,2.0
14,2,2,0,0,2,1,1.0,1.0,0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
870,2,2,1,1,1,1,0.0,1.0,0,1.0,0.0,0.0,2.0
1170,3,2,1,2,2,1,1.0,1.0,0,0.0,0.0,0.0,2.0
888,3,2,1,1,0,0,0.0,1.0,0,1.0,0.0,0.0,2.0
459,2,3,1,1,2,2,1.0,1.0,0,0.0,0.0,0.0,2.0
170,2,1,1,1,2,3,1.0,1.0,0,0.0,0.0,0.0,2.0

In [9]:
for i in range(0, 523-189):
    tem_for_sample = total_5.copy()
    sampled = total_5.sample(n=1)
    if i == 0:
        final_total_5 = tem_for_sample.append(sampled)
    else:
        final_total_5 = final_total_5.append(sampled)

In [10]:
final_total_5

,comp_week,comp_wend,text_week,text_wend,tv_week,tv_wend,dep_score,dep_thoughts,has_dep_diag,prim_diag,secd_diag,panic_score,total
2,1,0,1,2,1,1,1.0,1.0,1,1.0,1.0,0.0,5.0
7,3,3,1,1,0,0,1.0,1.0,1,1.0,1.0,0.0,5.0
19,3,2,1,1,2,2,1.0,1.0,1,1.0,1.0,0.0,5.0
20,3,3,2,3,1,2,1.0,1.0,1,1.0,1.0,0.0,5.0
31,1,1,3,2,1,1,1.0,1.0,1,1.0,1.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,2,2,2,2,2,2,1.0,1.0,1,1.0,1.0,0.0,5.0
89,2,3,3,3,3,3,1.0,1.0,1,1.0,1.0,0.0,5.0
868,0,0,2,2,3,3,1.0,1.0,1,1.0,1.0,0.0,5.0
747,2,2,2,2,2,1,1.0,1.0,1,1.0,1.0,0.0,5.0
277,2,2,2,2,1,1,1.0,1.0,1,1.0,1.0,0.0,5.0

In [11]:
for i in range(0, 523-149):
    tem_for_sample = total_3.copy()
    sampled = total_3.sample(n=1)
    if i == 0:
        final_total_3 = tem_for_sample.append(sampled)
    else:
        final_total_3 = final_total_3.append(sampled)

In [12]:
final_total_3

,comp_week,comp_wend,text_week,text_wend,tv_week,tv_wend,dep_score,dep_thoughts,has_dep_diag,prim_diag,secd_diag,panic_score,total
1,2,2,3,3,1,2,1.0,1.0,0,1.0,0.0,0.0,3.0
9,2,3,3,3,2,3,1.0,1.0,0,1.0,0.0,0.0,3.0
26,2,3,3,3,3,3,0.0,1.0,0,1.0,1.0,0.0,3.0
29,1,1,0,0,0,0,1.0,1.0,0,1.0,0.0,0.0,3.0
43,2,2,1,1,2,2,1.0,1.0,0,1.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43,2,2,1,1,2,2,1.0,1.0,0,1.0,0.0,0.0,3.0
235,2,3,1,1,2,3,0.0,1.0,0,1.0,1.0,0.0,3.0
9,2,3,3,3,2,3,1.0,1.0,0,1.0,0.0,0.0,3.0
1228,2,1,3,3,2,3,1.0,1.0,0,1.0,0.0,0.0,3.0
831,2,2,2,2,2,3,1.0,1.0,0,1.0,0.0,0.0,3.0

In [13]:
for i in range(0, 523-68):
    tem_for_sample = total_4.copy()
    sampled = total_4.sample(n=1)
    if i == 0:
        final_total_4 = tem_for_sample.append(sampled)
    else:
        final_total_4 = final_total_4.append(sampled)

In [14]:
final_total_4

,comp_week,comp_wend,text_week,text_wend,tv_week,tv_wend,dep_score,dep_thoughts,has_dep_diag,prim_diag,secd_diag,panic_score,total
3,2,3,3,3,2,3,1.0,1.0,0,1.0,1.0,0.0,4.0
11,2,3,2,2,3,1,1.0,1.0,0,1.0,1.0,0.0,4.0
18,1,1,1,1,2,2,1.0,1.0,1,1.0,0.0,0.0,4.0
24,3,3,1,1,2,1,1.0,0.0,1,1.0,1.0,0.0,4.0
34,2,1,2,2,3,3,1.0,1.0,0,1.0,1.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1044,1,2,3,2,3,3,1.0,1.0,1,1.0,0.0,0.0,4.0
299,3,3,1,1,1,2,0.0,1.0,0,1.0,1.0,1.0,4.0
1065,2,3,3,3,2,2,1.0,1.0,0,1.0,1.0,0.0,4.0
1099,1,1,1,2,1,1,1.0,1.0,0,1.0,1.0,0.0,4.0
95,3,3,1,1,1,1,1.0,1.0,0,1.0,1.0,0.0,4.0

In [15]:
for i in range(0, 523-38):
    tem_for_sample = total_6.copy()
    sampled = total_6.sample(n=1)
    if i == 0:
        final_total_6 = tem_for_sample.append(sampled)
    else:
        final_total_6 = final_total_6.append(sampled)

In [16]:
final_total_6

,comp_week,comp_wend,text_week,text_wend,tv_week,tv_wend,dep_score,dep_thoughts,has_dep_diag,prim_diag,secd_diag,panic_score,total
101,1,2,1,1,2,2,1.0,1.0,1,1.0,1.0,1.0,6.0
112,2,2,1,1,1,1,1.0,1.0,1,1.0,1.0,1.0,6.0
117,2,3,3,3,3,3,1.0,1.0,1,1.0,1.0,1.0,6.0
180,2,3,3,3,2,2,1.0,1.0,1,1.0,1.0,1.0,6.0
192,2,2,1,1,1,1,1.0,1.0,1,1.0,1.0,1.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244,2,1,2,2,0,2,1.0,1.0,1,1.0,1.0,1.0,6.0
929,1,1,1,1,2,3,1.0,1.0,1,1.0,1.0,1.0,6.0
871,3,2,1,2,2,3,1.0,1.0,1,1.0,1.0,1.0,6.0
406,3,3,1,1,2,2,1.0,1.0,1,1.0,1.0,1.0,6.0
117,2,3,3,3,3,3,1.0,1.0,1,1.0,1.0,1.0,6.0

In [17]:
oversample = tem.loc[tem['total'] == 1]

In [18]:
oversample = oversample.append(final_total_2)
oversample = oversample.append(final_total_3)
oversample = oversample.append(final_total_4)
oversample = oversample.append(final_total_5)
oversample = oversample.append(final_total_6)

In [19]:
oversample = oversample.sample(frac=1)

,comp_week,comp_wend,text_week,text_wend,tv_week,tv_wend,dep_score,dep_thoughts,has_dep_diag,prim_diag,secd_diag,panic_score,total
0,1,2,1,1,1,2,0.0,1.0,0,0.0,0.0,0.0,1.0
8,2,1,3,3,2,1,0.0,1.0,0,0.0,0.0,0.0,1.0
10,2,3,2,1,2,2,1.0,0.0,0,0.0,0.0,0.0,1.0
13,3,3,1,1,1,2,0.0,1.0,0,0.0,0.0,0.0,1.0
15,2,3,0,0,2,2,0.0,1.0,0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1244,2,1,2,2,0,2,1.0,1.0,1,1.0,1.0,1.0,6.0
929,1,1,1,1,2,3,1.0,1.0,1,1.0,1.0,1.0,6.0
871,3,2,1,2,2,3,1.0,1.0,1,1.0,1.0,1.0,6.0
406,3,3,1,1,2,2,1.0,1.0,1,1.0,1.0,1.0,6.0
117,2,3,3,3,3,3,1.0,1.0,1,1.0,1.0,1.0,6.0

In [20]:
oversample.to_csv('oversampling/sampled_sum_targets_with_panic.csv', index=False)